@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}
:root {
    --primary-red: #D83742;
    --light-purple: #3B2A82;
    --light-feature: #E1E4F1;
    --dark-blue: #252438;
    --dark-feature: #171932;
    --dark-l-blue: #107297;
    --placeholder-color:rgb(203 213 225);
   
  }
  
.table-header {
    background: #F3F4F6 !important;
}
.apexcharts-title-text {
    margin: 5px !important;
}
@layer components{ 
    .feature-main-card{
        @apply grid gap-4 px-4 py-2 
    }
    .bg-primary-red-nav{
        @apply bg-primary-red !important
    }
    .black-nav{
        @apply bg-black text-white hover:bg-black !important
    }
    .form-space{
        @apply space-y-7
    }
    .form-elem-container{
        @apply grid gap-1 w-full
    } 
    .profile-img{
        @apply w-10 h-10 object-cover rounded
    }
    .feature-container{
        @apply bg-white p-4 rounded shadow border border-light-purple/[.4] dark:bg-dark-blue
    }
    
    .info-header{
        @apply font-semibold text-gray-800 text-sm dark:text-white;
    }
    .info-text{
        @apply text-gray-800 text-xs dark:text-white ;
    }
    
    .inbox-header{
        @apply bg-white border-[1px] border-gray-300 p-3 h-[56px] py-2  px-4 border-t-[0px]
    }
    .inbox-text{
        @apply info-text text-[10px]
    }
    .inbox-msg{
        @apply info-text p-2 rounded bg-blue-100/[.7] shadow max-w-[75%] w-fit object-contain
    }
    .inbox-msg-img{
        @apply profile-img w-7 h-7 self-start rounded
    }
    
    .inbox-section{
        @apply inbox-header h-auto shadow-none bg-transparent border-none flex gap-4 flex-col 
    }
    .animate-text{
        @apply text-blue-400 transition-all
    }
    .drop-data{
       @apply hover:bg-blue-100 text-black transition-all w-full text-start info-text p-2 hover:text-blue-400 flex gap-2 items-center border-b
    }
    .second-bar{
        @apply flex p-3 justify-between w-full items-center bg-white shadow border-gray-300 font-medium text-sm z-50 top-[56px] dark:bg-dark-blue border-b dark:border-gray-600 !important ;
    }
    .second-bar__section{
        @apply flex gap-2 items-center
        
    }
    .ticket-info__time{
        @apply text-gray-400 text-[9px]
    }
    .ticket-info__main-section{
        @apply py-2  
    }
    .sidesticky-info-header{
        @apply text-gray-400 text-[11px]
    }
    .sidesticky-info-text{
        @apply text-[12px]
    }
    
}
::placeholder {
    color:var(--placeholder-color) !important;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:var(--placeholder-color) !important;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color:var(--placeholder-color) !important;
  }
.dark .apexcharts-bar-area{
    fill:var(--dark-l-blue) ;

}
.dark .apexcharts-title-text{
    fill:white ;
}
.dark .apexcharts-text {
    fill: white 
}
.dark .apexcharts-legend-text{
    color: white !important;

}
.dark .feature-container{
    border-color: #1072974D;
}
.dark .el-input__wrapper{
    background:transparent !important;
}
.login .el-checkbox__label {
    color: rgb(156 163 175);
    font-weight: 300;
}
.sticky-nav{
    position:sticky;
    top:0;
    width: 100%;
    z-index: 100;
}
body{
    background:rgb(243 244 246);
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.el-radio__input{
    place-self:baseline !important;
}
.el-radio__label{
    width:100%;
    place-self:baseline !important;
}
.el-radio.el-radio--small {
    height: auto !important;
}
.nav-border-brand-red{
    border-color: #7c3985;
    color: rgb(37, 36, 36);
}
.nav-border-brand-red:hover {
    background-color: #7c3985 !important;
    color:white
}
.bg-brand-red{
    background: #7c3985;
    border-color: #7c3985;
    color:white;

}
.bg-brand-red:hover {
    background-color: #7c3985 !important;
}

.tiptap-vuetify-editor__content{
    height:150px;
}
.ql-editor{
    height:150px !important;
}
.ql-container.ql-snow{
    border-radius: 5px !important}
.ql-toolbar.ql-snow{
    border-radius: 5px !important;
}
.dark .nav-button{
    background: #353E53 !important;
}
.dark .new-button{
    background: var(--dark-l-blue) !important;
}
 .is-focus{
    outline:2px solid var(--light-purple);
    outline-offset: -2px;
    border-radius: 3px;

}
.dark .is-focus{
    outline:2px solid var(--dark-l-blue);
}
.dark .el-input__wrapper{
    box-shadow: 0 0 0 1px gray inset !important;
}
.el-textarea{
    --el-input-focus-border-color: var(--light-purple) !important;
}
.dark .el-textarea{
    --el-input-focus-border-color: var(--dark-l-blue) !important;
}
.dark .el-input{
    --el-input-text-color:#fafafa  !important;
    --el-input-placeholder-color: #fafafa !important;
}
 .el-popper__arrow::before{
    display: none !important;
    
}
.el-input {
    --el-input-text-color: black !important;
    --el-input-border: var(--el-border);
    --el-input-hover-border: var(--el-border-color-hover);
    --el-input-focus-border-color: var(--light-purple) !important;
    --el-input-transparent-border: 0 0 0 1px transparent inset;
    --el-input-border-color: var(--el-border-color);
    --el-input-border-radius: var(--el-border-radius-base);
    --el-input-bg-color: var(--el-fill-color-blank);
    --el-input-icon-color: var(--el-text-color-placeholder);
    --el-input-placeholder-color: black !important;
    --el-input-hover-border-color: var(--el-border-color-hover);
    --el-input-clear-hover-color: var(--el-text-color-secondary);
    font-size: var(--el-font-size-base);
}


.cell .el-select{
    
    left:-8px !important;
}


.cell .el-input__wrapper{
    box-shadow:none !important;
}

.dark .el-scrollbar{
    background-color:var(--dark-blue) !important
}
.dark .el-select-dropdown__item{
    color:white
}
.dark .el-select-dropdown__item.hover{
    background-color: var(--dark-feature) !important;
}
.dark .el-select-dropdown__item:hover {
    background-color: var(--dark-feature) !important;
}
.dark .el-popper.is-light{
    border-color:var(--dark-l-blue) !important
}
.el-textarea__inner{
    font-size:12px !important;
}
.el-input__inner{
    font-size:12px !important;
}

.el-select-dropdown__item span{
    font-size:12px;
}
.filters .el-input__inner{
    font-size:12px;
}
.topnav .el-input__inner{
    width:120px;
}
.topnav .el-input__inner{
    border:none;
}
.el-input__icon{
    font-size: 9px !important;
    font-weight: 900 !important;
    color: black !important;
}
.el-select-dropdown__list .el-checkbox__label{
    font-size: 12px !important;
    font-weight: 400 !important;
    padding-left:0px;
}
.el-select-dropdown__list .el-checkbox  {
    display: flex !important;
    align-items: center;
    padding: 0 20px !important;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    border:none !important;
    margin:none !important;
}
