@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    box-sizing: border-box;
}
.table-header {
    background: #F3F4F6 !important;
}
.apexcharts-title-text {
    margin: 5px !important;
}
@layer components{ 
    .feature-main-card{
        @apply grid gap-4 bg-gray-100 px-4 py-2
    }
    .form-space{
        @apply space-y-6
    }
    .form-elem-container{
        @apply grid gap-1 w-full
    } 
    .profile-img{
        @apply w-10 h-10 object-cover rounded
    }
    .feature-container{
        @apply bg-white p-4 rounded shadow
    }
    
    .info-header{
        @apply font-semibold text-gray-800 text-sm;
    }
    .info-text{
        @apply text-gray-800 text-xs;
    }
    
    .inbox-header{
        @apply bg-white border-[1px] border-gray-300 p-3 h-[55px] py-2  px-4 border-t-[0px]
    }
    .inbox-text{
        @apply info-text text-[10px]
    }
    .inbox-msg{
        @apply info-text p-2 rounded bg-blue-100/[.7] shadow max-w-[75%] w-fit object-contain
    }
    .inbox-msg-img{
        @apply profile-img w-6 h-6 self-start 
    }
    
    .inbox-section{
        @apply inbox-header h-auto shadow-none bg-transparent border-none flex gap-4 flex-col 
    }
    .animate-text{
        @apply text-blue-400 transition-all
    }
    .drop-data{
       @apply hover:bg-blue-100 text-black transition-all w-full text-start info-text p-2 hover:text-blue-400 flex gap-2 items-center border-b
    }
    .second-bar{
        @apply flex p-3 justify-between w-full items-center bg-white shadow border-gray-300 font-medium text-sm
    }
    .second-bar__section{
        @apply flex gap-2 items-center
        
    }
   
    
    .ticket-info__time{
        @apply text-gray-400 text-[9px]
    }
    .ticket-info__main-section{
        @apply py-2 border-b border-gray-200
    }
    .sidesticky-info-header{
        @apply text-gray-400 text-[11px]
    }
    .sidesticky-info-text{
        @apply text-[12px]
    }
    
}
.nav-border-brand-red{
    border-color: #7c3985;
    color: rgb(37, 36, 36);
}
.nav-border-brand-red:hover {
    background-color: #7c3985 !important;
    color:white
}
.bg-brand-red{
    background: #7c3985;
    border-color: #7c3985;
    color:white;

}
.bg-brand-red:hover {
    background-color: #7c3985 !important;
}

.tiptap-vuetify-editor__content{
    height:150px;
}
.ql-editor{
    height:150px !important;
}
.ql-container.ql-snow{
    border-radius: 5px !important}
.ql-toolbar.ql-snow{
    border-radius: 5px !important;
}
 .is-focus{
    outline:2px solid #7c3985;
    outline-offset: -2px;
    border-radius: 3px;

}

.cell .el-select{
    
    left:-8px !important;
}


.cell .el-input__wrapper{
    box-shadow:none !important;
}


.el-input__inner{
    font-size:12px !important;
}

.el-select-dropdown__item span{
    font-size:12px;
}
.filters .el-input__inner{
    font-size:12px;
}
.topnav .el-input__inner{
    width:120px;
}
.topnav .el-input__inner{
    border:none;
}
.el-input__icon{
    font-size: 9px !important;
    font-weight: 900 !important;
    color: black !important;
}
.el-select-dropdown__list .el-checkbox__label{
    font-size: 12px !important;
    font-weight: 400 !important;
    padding-left:0px;
}
.el-select-dropdown__list .el-checkbox  {
    display: flex !important;
    align-items: center;
    padding: 0 20px !important;
    flex-direction: row-reverse;
    justify-content: space-between !important;
    border:none !important;
    margin:none !important;
}
